* {
  margin: 0px;
  padding: 0px;
}

.intro {
  height: 50em;
  background: url(../img/Background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.heading {
  font-size: 3.5em;
  font-style: bold;
  position: relative;
  text-align: center;
  margin: 4em auto;
}
